

.styleCarousel{
    height: 500px;
    overflow: hidden;
}

@media screen and (max-width : 880px) {
    .styleCarousel{
        height: 200px;
        overflow: hidden;
    }
    
}
.styleCarousel img{
    transform: translateY(-15%);
    width: 100%;
    height: auto;
    
}

.link-connect, .link-user{
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-weight: 600;
}

.link-connect:hover, .link-user:hover{
    color: rgb(143, 143, 143);
}

.imgUser{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.iconNav{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.homeContent{
    display: grid;
    grid-template-columns: 250px 3fr;
}

.options{
    z-index: 6;
    position: relative;
    border-right: 1px solid black;
    min-height: 100vh;
    max-height: auto;
    background-color: rgb(52, 111, 121);

    
}

.underOption {
    position: fixed;
    width: 250px;

}
.navSet ul{
    margin-top: 10px;
    list-style: none;
    padding: 0;
}
.navSet li{
    padding: 15px;
margin:0 10px;
    width: 95%;
    border-radius: 10px;

}

.navSet li:hover{
background-color: rgb(136, 169, 172);
}

.navSet a{
    width: 100%;

    text-decoration: none;
    color: white;
    font-weight: 600;
}

.mainAjax{
    padding: 20px;
}

.underOption hr{
    margin: 10px 0;
    border: white 1px solid ;
}

.likeBtn, .follow{
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 15px;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
}

.likeBtn, .follow:hover{
    background-color: #69a1a331;
}

.unlikeBtn, .unfollow{
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 15px;
    color: #69a1a3;
    background-color: #69a1a331;
}

.btnCom{
 
    text-decoration: none;
   padding: 5px 10px;
    background-color: #69a1a3;
    color: white;
    border-radius: 10px;
}

.like{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like p {
    margin: 0;
    padding-left: 10px;
}

.userName a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

